* {
	margin: 0;
	padding: 0;
}

nav {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.authentification {
	list-style: none;
	font-size: 17px;
	display: flex;
}

.authentification li {
	margin-left:15px;
}

a {
	text-decoration: none;
	color: inherit;
}

.inscription {
	max-width: 500px;
}

.btn-inscription {
	display: flex;
	align-items: center;
	justify-content: center;
}
